body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    background-image: url('../data/assets/fondo.gif');
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0a223d;
    padding: 10px 50px;
}

.navbar p {
    font-weight: bold;
    color: #ffffff;
    margin-right: 50px;
    transition: color 0.3s ease;
}

.navbar img {
    width: 300px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.1);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f4a71;
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 20px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.header img {
    width: 400px;
    margin: 20px;
    border-radius: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.content:hover {
    transform: scale(1.02);
}

.content__left, .content__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f4a71;
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.content__left:hover, .content__right:hover {
    background-color: #42439a;
}

button {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #0a223d;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1f4a71;
    transform: scale(1.05);
}

.content__right__table {
    background-color: #1f4a71;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    width: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1f4a71;
    font-weight: bold;
}

.footer {
    background-color: #1f4a71;
    border-radius: 20px;
    color: white;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer {
    background-color: #0a223d;
    padding: 10px 20px;
    color: white;
    text-align: center;
    border-top: 3px solid #16324f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

footer ul {
    padding: 0;
}

footer li {
    margin: 5px 0;
}
